@import "../.././vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg, rgba(255, 255, 255, 1) 80%, 
        rgba(255, 255, 255, 0) 120%
        );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
    max-width: 900px;
}


.heroImg {
    max-width: 60%;
    z-index: 1;
    padding-left: 100px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 40vw;
    min-width: 350px;
    min-width: 350px;
    top: -10%;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 30vw;
    min-width: 250px;
    min-width: 350px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur2 {
    position: absolute;
    width: 70vw;
    height: 30vw;
    min-width: 250px;
    min-width: 350px;
    top: 1206px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur3 {
    position: absolute;
    width: 70vw;
    height: 30vw;
    min-width: 250px;
    min-width: 350px;
    top: 1906px;
    right: 40vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur4 {
    position: absolute;
    width: 70vw;
    height: 30vw;
    min-width: 250px;
    min-width: 350px;
    top: 2606px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
    }

    .heroImg {
        margin-bottom: 20px;
        padding: 0px;
    }

    .title {
        font-size: 52px;
    }

    .description {
        font-size: 20px;
        font-family: var(--font-roboto);
        margin-bottom: 42px;
    }



    .bottomBlur5 {
        position: absolute;
        width: 70vw;
        height: 30vw;
        min-width: 250px;
        min-width: 350px;
        top: 3550px;
        right: 40vw;
        border-radius: 764px;
        background: rgba(25, 55, 109, 0.7);
        filter: blur(100px);
        z-index: 0;
    }

    .bottomBlur6 {
        position: absolute;
        width: 70vw;
        height: 30vw;
        min-width: 250px;
        min-width: 350px;
        top: 4206px;
        right: -25vw;
        border-radius: 764px;
        background: rgba(25, 55, 109, 0.7);
        filter: blur(100px);
        z-index: 0;
    }

    .bottomBlur7 {
        position: absolute;
        width: 70vw;
        height: 30vw;
        min-width: 250px;
        min-width: 350px;
        top: 5150px;
        right: 40vw;
        border-radius: 764px;
        background: rgba(25, 55, 109, 0.7);
        filter: blur(100px);
        z-index: 0;
    }
}

@media screen and (min-width: 1920px) {
    .heroImg {
        margin-bottom: 20px;
        padding-left: 400px;
    }
}