@import "../../vars.css";

.scrollToTopButton {
    background-color: var(--color-dark);
    color: var(--color-text);
    border: none;
    border-radius: 100px;
    padding: 10px 22px;
    cursor: pointer;
    font-size: 30px;
}

@keyframes hoverScale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.scrollToTopButton:hover {
    animation: hoverScale 0.3s ease-in-out forwards;
}
